body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

h2, h4 {
    color: #fff;
}

.container {
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 800px;
}

.form-control, .form-control-file {
    background-color: #555;
    border: 1px solid #777;
    color: #fff;
}

.form-control:focus, .form-control-file:focus {
    background-color: #666;
    border-color: #d9534f;
    color: #fff;
    box-shadow: none;
}

.btn-danger {
    background-color: #d9534f;
    border: none;
}

.btn-danger:hover {
    background-color: #c9302c;
}
